@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --color-bg: #181c31;
//   --color-bg-offset5: #202642;
//   --color-bg-offset10: #293053;
//   --color-bg-offset15: #313964;
//   --color-bg-offset20: #3a4375;
//   --color-bg-offset25: #424d87;
//   --color-bg-offset: #2a325a;
//   --color-text: #d1d5db;
//   --color-text-strong: #fff;
//   --color-text-offset: #94a1b2;
//   --color-border: #383a61;
//   --color-primary: #e00031;
//   --color-primary-offset: #eb0033;
//   --color-secondary: #43a9a3;
//   --color-bg-grad-1: #7f1d1d;
//   --color-bg-grad-2: #b91c1c;
// }

@layer base {
  :root {
    --section-stats-background: #ffb502;
    --section-stats-color: #000;
  }
  
  h1 {
    @apply text-5xl;
    @apply mb-8;
  }

  h2 {
    @apply text-3xl;
    @apply mb-8;
  }

  h3 {
    @apply text-2xl;
    @apply mb-4;
  }

  .article {
    h1, h2, h3, h4 {
      @apply font-serif;
    }
  }

  html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
  }

  html, body {
    background: #fff;
  }

  a:hover {
    @apply text-primary;
  }

  .index {
    .navigation {
      max-width: 80rem;
    }
    
    aside > div > div {
      max-width: 80rem;
      margin-bottom: 4rem;
    }
  }
  
  .blog {
    .navigation {
      max-width: 65ch;
    }
    
    aside > div > div {
      max-width: 65ch;
      margin-bottom: 4rem;
    }
  }
}

@layer components {
  p a, .prose a {
    text-decoration: none !important;
    border-bottom: 1px solid black;
    @apply border-primary;
    @apply transition-colors;
    @apply duration-500;

    &:hover {
      @apply border-black;
      @apply text-primary;
    }
  }
  $areas: intro, server, frontend, databases, design, backend, tools, rest;

  @each $area in $areas {
    .#{$area} {
      grid-area: $area;
    }
  }
}

[data-fade-in] {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity,transform;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  will-change: transform, opacity;
}

[data-fade-in].visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

em {
  font-weight: bold;
  font-style: normal;
}

em[data-icon]::after {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  margin: 0 2px 0 5px;
  content: "";
}

.visible {
  em[data-icon="js"]::after {
    background: url("/devicon/icons/javascript/javascript-original.svg");
  }
  em[data-icon="css3"]::after {
    background: url("/devicon/icons/css3/css3-original.svg");
  }
  em[data-icon="typescript"]::after {
    background: url("/devicon/icons/typescript/typescript-original.svg");
  }
  em[data-icon="html5"]::after {
    background: url("/devicon/icons/html5/html5-original.svg");
  }
  em[data-icon="babel"]::after {
    background: url("/devicon/icons/babel/babel-original.svg");
  }
  em[data-icon="webpack"]::after {
    background: url("/devicon/icons/webpack/webpack-original.svg");
  }
  em[data-icon="scss"]::after {
    background: url("/devicon/icons/sass/sass-original.svg");
  }
  em[data-icon="react"]::after {
    background: url("/devicon/icons/react/react-original.svg");
  }
  em[data-icon="node"]::after {
    background: url("/devicon/icons/nodejs/nodejs-original.svg");
  }
  em[data-icon="ruby"]::after {
    background: url("/devicon/icons/ruby/ruby-original.svg");
  }
  em[data-icon="rails"]::after {
    background: url("/devicon/icons/rails/rails-plain.svg");
  }
  em[data-icon="php"]::after {
    background: url("/devicon/icons/php/php-plain.svg");
  }
  em[data-icon="python"]::after {
    background: url("/devicon/icons/python/python-original.svg");
  }
  em[data-icon="java"]::after {
    background: url("/devicon/icons/java/java-original.svg");
  }
  em[data-icon="docker"]::after {
    background: url("/devicon/icons/docker/docker-original.svg");
  }
  em[data-icon="mysql"]::after {
    background: url("/devicon/icons/mysql/mysql-original.svg");
  }
  em[data-icon="photoshop"]::after {
    background: url("/devicon/icons/photoshop/photoshop-original.svg");
  }
  em[data-icon="vim"]::after {
    background: url("/devicon/icons/vim/vim-original.svg");
  }
  em[data-icon="atom"]::after {
    background: url("/devicon/icons/atom/atom-original.svg");
  }
  em[data-icon="vs"]::after {
    background: url("/devicon/icons/visualstudio/visualstudio-plain.svg");
  }
  em[data-icon="git"]::after {
    background: url("/devicon/icons/git/git-original.svg");
  }
  em[data-icon="kotlin"]::after {
    background: url("/devicon/icons/kotlin/kotlin-original.svg");
  }
  em[data-icon="sketch"]::after {
    background: url("/devicon/icons/sketch/sketch-original.svg");
  }
  em[data-icon="photoshop"]::after {
    background: url("/devicon/icons/photoshop/photoshop-plain.svg");
  }
  em[data-icon="vuejs"]::after {
    background: url("/devicon/icons/vuejs/vuejs-original.svg");
  }
  em[data-icon="elm"]::after {
    background: url("/devicon/icons/elm/elm-original.svg");
  }
  em[data-icon="jest"]::after {
    background: url("/devicon/icons/jest/jest-plain.svg");
  }
  em[data-icon="graphql"]::after {
    background: url("/devicon/icons/graphql/graphql-plain.svg");
  }
  em[data-icon="windows"]::after {
    background: url("/devicon/icons/windows8/windows8-original.svg");
  }
  em[data-icon="heroku"]::after {
    background: url("/devicon/icons/heroku/heroku-original.svg");
  }
  em[data-icon="bootstrap"]::after {
    background: url("/devicon/icons/bootstrap/bootstrap-plain.svg");
  }
  em[data-icon="circleci"]::after {
    background: url("/devicon/icons/circleci/circleci-plain.svg");
  }
  em[data-icon="codeigniter"]::after {
    background: url("/devicon/icons/codeigniter/codeigniter-plain.svg");
  }
  em[data-icon="coffeescript"]::after {
    background: url("/devicon/icons/coffeescript/coffeescript-original.svg");
  }
  em[data-icon="drupal"]::after {
    background: url("/devicon/icons/drupal/drupal-plain.svg");
  }
  em[data-icon="express"]::after {
    background: url("/devicon/icons/express/express-original.svg");
  }
  em[data-icon="firebase"]::after {
    background: url("/devicon/icons/firebase/firebase-plain.svg");
  }
  em[data-icon="gatsby"]::after {
    background: url("/devicon/icons/gatsby/gatsby-plain.svg");
  }
  em[data-icon="github"]::after {
    background: url("/devicon/icons/github/github-original.svg");
  }
  em[data-icon="googlecloud"]::after {
    background: url("/devicon/icons/googlecloud/googlecloud-plain.svg");
  }
  em[data-icon="jquery"]::after {
    background: url("/devicon/icons/jquery/jquery-plain.svg");
  }

  em[data-icon="kubernetes"]::after {
    background: url("/devicon/icons/kubernetes/kubernetes-plain.svg");
  }
  em[data-icon="mocha"]::after {
    background: url("/devicon/icons/mocha/mocha-plain.svg");
  }
  em[data-icon="mongodb"]::after {
    background: url("/devicon/icons/mongodb/mongodb-plain.svg");
  }
  em[data-icon="nextjs"]::after {
    background: url("/devicon/icons/nextjs/nextjs-original.svg");
  }
  em[data-icon="nginx"]::after {
    background: url("/devicon/icons/nginx/nginx-original.svg");
  }
  em[data-icon="tailwindcss"]::after {
    background: url("/devicon/icons/tailwindcss/tailwindcss-plain.svg");
  }
  em[data-icon="wordpress"]::after {
    background: url("/devicon/icons/wordpress/wordpress-plain.svg");
  }
}

// :root.dark, :root.light {
//   --theme-font-sans: montserrat,serif;
//   --theme-font-serif: taviraj,serif;
// }

@import "fonts"
