---
import Navigation from '../components/Navigation.astro';
import BaseHead from '../components/BaseHead.astro';
import IndexIntro from '../components/IndexIntro.astro';
import IndexAboutMe from '../components/IndexAboutMe.astro';
import IndexStats from '../components/IndexStats.astro';
import IndexSkills from '../components/IndexSkills.astro';
import IndexWork from '../components/IndexWork.astro';

const title="Johan Stenehall, Web developer"
const description="A developer building things, currently for Volvo Car Mobility creating their web. At work he mostly codes Vue, React and Elm but also some Kotlin."
const permalink="/"

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body class="index">
    <Navigation />
    <IndexIntro />
    <IndexAboutMe />
    <IndexStats />
    <IndexSkills />
    <IndexWork />
  </body>
</html>

