---
export interface Props {
  title: string;
  className: string
}
const {title, className} = Astro.props;
---
<div class={`block ${className ? className : ''}`}>
  <div>
    {title && <h3>{title}</h3>}
    <p>
      <slot />
    </p>
  </div>
</div>
<style lang="scss">
.block div > * {
  max-width: 640px;
}
</style>
