---
export interface Props {
  title: string;
  className: string;
  maxWidth?: boolean;
}
const {title, className, maxWidth} = Astro.props;
console.log("maxWidth", maxWidth)
---
<div class={`block ${className ? className : ''}`}>
  <div>
    {title && <h3 class={`${maxWidth === false ? '' : 'max-w-2xl'}`}>{title}</h3>}
    <p class={`${maxWidth === false ? '': 'max-w-2xl'}`}>
      <slot />
    </p>
  </div>
</div>
