---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<a 
  style={`background-image: url(${post.heroImage})`}
  class="p-10 bg-blue-500 rounded-md flex flex-col text-white bg-cover bg-center" 
  href={post.url}>
  <h2 class="mb-8 font-bold">{post.title}</h2>
  <p>{post.description}</p>
</a>
