---
import Section from './Section'
import Intro from './Intro'
import Work from './Work'
import WorkIcon from './WorkIcon'
---
<Section class="work" id="work" data-transform data-color="work" data-name="work">
  <div>
    <Intro class="intro">
      <h2 class="">Work?</h2>
      <p>
        Here's the last employeers I've had. Ranging from an agency to a small
        startup to a medium-sized rapidly expanding company. Working both with
        client and inhouse, from short-term to long-term projects.
      </p>
    </Intro>
    <div class="body">
      <Work
        title="M"
        link="https://m.co"
        className="m"
        logo="m"
        index={1}
        logoWidth="124px"
        logoHeight="100px"
        start="2018-04-01"
        techy={[
          'VueES',
          'Node.js',
          'Javascript',
          'CSS/SCSS/LESS',
          'Jest',
          'GraphQL',
          'Firebase',
          'Kotlin',
          'Elm',
        ]}
      >
        M is creating an entirely new service that gives people personal and
        dependable access to cars, on their terms. I'm helping create all the
        web for this, including the back-office and customer facing sites.
      </Work>
      <Work
        title="Daughter is born!"
        start="2018-08-28"
        index={2}
      >
        <p>
          Second child born, it's a girl.
        </p>
      </Work>
      <Work
        title="iZettle"
        link="https://izettle.com"
        className="izettle"
        logo="izettle"
        index={3}
        logoWidth="300px"
        logoHeight="83px"
        start="2016-06-01"
        end="2018-04-01"
        techy={[
          'Ruby/Rails',
          'ES6',
          'Node.js',
          'Javascript',
          'CSS/SCSS/LESS',
          'React',
          'Redux',
          'Mobx',
          'Jest',
        ]}
      >
        <p>
          For many years iZettle have been pionering payments for small
          buisnesses.
        </p>
        <p>
          Working as a web developer I get to code on iZettle Portal as well
          as our front end for our new Invoice service and of course our main
          site.
        </p>
      </Work>
      <Work
        title="Son is born!"
        start="2016-09-01"
        index={4}
      >
        <p>
          First child born, it's a boy.
        </p>
      </Work>
      <Work
        title="Narrative"
        link="http://getnarrative.com/"
        className="narrative"
        start="2014-06-01"
        end="2016-06-01"
        logo="narrative"
        index={3}
        logoWidth="32px"
        logoHeight="44px"
        techy={[
          'PHP',
          'Wordpress',
          'Zendesk',
          'Shopify',
          'Javascript',
          'ES6',
          'React',
          'AngularJS',
          'jQuery',
          'CSS/SCSS/LESS',
          'Redux',
          'Mocha',
          'Node.js',
        ]}
      >
        <p>
          This Linköping based startup were once the biggest thing on
          Kickstarter.
        </p>

        <p>
          Working as the lead (and in the end only) front-end developer. I was
          part of creating all web content. From the Narrative web app, to the
          main site, to the blog and support pages and much more.
        </p>
      </Work>
      <Work
        title="Stockholm"
        start="2014-06-01"
        index={5}
      >
        <p>
          Moving to Stockholm from Linköping
        </p>
      </Work>
      <Work
        title="NOC"
        link="https://www.nocweb.se/"
        className="noc"
        start="2010-07-01"
        end="2014-06-01"
        logo="noc"
        index={6}
        logoWidth="90px"
        logoHeight="69px"
        techy={[
          'PHP',
          'Wordpress',
          'Drupal',
          'WooCommerce',
          'Kohana',
          'Codeigniter',
          'Javascript',
          'CSS/SCSS/LESS',
          'jQuery',
          'Ruby/Rails',
        ]}
      >
        <p>
          This Linköping based web agency have helped big and small companies
          for the past 10 years to realize their visions. I worked for them
          for 4 years and during that time I learnt lots.
        </p>

        <p>
          As a web developer I worked on project for big and small companies
          getting a deep understanding of the different challanges and
          perspective they face. Working mainly with PHP as a backend
          language, using Wordpress, Drupal, Kohana, Codeigniter and others.
        </p>

        <p>
          But also coding the front ends, html, javascript and css and all the
          normal frameworks for that.
        </p>
      </Work>
    </div>
  </div>
</Section>
<style lang="scss">
.grid {
  display: grid;
  @apply gap-12 justify-items-start items-start;
}

.icons {
  @apply flex gap-8 mt-12;
}

.body {
  @apply mt-8;
}

@media only screen and (min-width: 750px) {
  .body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 'intro body';
  }
}
</style>