  <a href="/" aria-label="Home">
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      width="40"
      height="40"
      viewBox="0 0 200 200"
    >
      <g transform="rotate(-20)">
        <path
          d="M63 40h-13a10 10 0 0 0 0 80h12m-15-40h43v40a40 40 0 01-40 40h-10"
          stroke="currentColor"
          stroke-width="16"
          stroke-linecap="round"
          fill="transparent"
        />
      </g>
    </svg> -->
    <!-- <svg id="logo" viewBox="0,0,40,40" height="60px">
      <mask id="a">
        <circle cx="20" cy="20" r="20" fill="#fff" />
        <path
          stroke="#000"
          stroke-width="2"
          fill="transparent"
          d="m 11 24.5 a 5 5 0 0 0 5 -5 v -10 h 10 v 6 a 5 5 0 0 0 -5 5 c 0 5 -2 10 -10 10 z "
        />
        <circle cx="27" cy="28" r="3" fill="#000" />
      </mask>
      <circle cx="20" cy="20" r="20" mask="url(#a)" fill="currentColor" />
      <circle cx="27" cy="28.5" r="3" fill="#00c58e" />
    </svg> -->
    <svg
      id="logo"
      class=""
      height="50"
      viewBox="0 0 110 200"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g stroke-width="1" fill="#fff">
        <path
          d="M0.861386139,199.949257 C11.1980198,199.949257 21.1936881,196.162748 30.8483911,188.589728 C40.5030941,181.016708 48.2555693,170.967203 54.1058168,158.441213 C59.9560644,145.915223 62.8811881,132.976485 62.8811881,119.625 L62.8811881,24.3341584 C62.8811881,19.3094059 63.5092822,15.7741337 64.7654703,13.7283416 C66.0216584,11.6825495 68.2289604,10.0674505 71.3873762,8.88304455 C74.5457921,7.69863861 79.1757426,6.74752475 85.2772277,6.02970297 C86.4257426,6.02970297 87,5.02475248 87,3.01485149 C87,1.0049505 86.4257426,-1.22309669e-13 85.2772277,-1.22309669e-13 C80.4678218,-1.22309669e-13 74.7252475,0.215346535 68.049505,0.646039604 C61.6608911,1.07673267 56.2772277,1.29207921 51.8985149,1.29207921 C47.519802,1.29207921 42.1720297,1.07673267 35.855198,0.646039604 C29.2512376,0.215346535 23.5445545,-1.22309669e-13 18.7351485,-1.22309669e-13 C17.5866337,-1.22309669e-13 17.0123762,1.0049505 17.0123762,3.01485149 C17.0123762,5.02475248 17.5866337,6.02970297 18.7351485,6.02970297 C24.8366337,6.74752475 29.4665842,7.71658416 32.625,8.93688119 C35.7834158,10.1571782 37.9548267,11.7902228 39.1392327,13.8360149 C40.3236386,15.8818069 40.9158416,19.3811881 40.9158416,24.3341584 L40.9158416,125.654703 C40.9158416,144.67698 38.2240099,161.133045 34.4554455,168.939356 C32.8740384,172.215128 30.1859364,175.55331 27.9950495,177.553218 C24.9649545,180.319181 22.7532026,182.245885 19.1658416,185.305693 C13.8832957,189.811394 3.68708385,196.511495 0.47830426,198.222779 C0.0239701982,198.465081 5.35104804e-14,198.395327 5.35104804e-14,199.087871 C5.35104804e-14,199.823945 0.0500830303,199.949257 0.861386139,199.949257 Z"
          fill-rule="nonzero"
        />
        <path
          d="M87,150 C99.7025492,150 110,160.297451 110,173 C110,185.702549 99.7025492,196 87,196 C74.2974508,196 64,185.702549 64,173 C64,160.297451 74.2974508,150 87,150 Z M87.6953488,160.644186 C85.4844961,160.644186 83.5678295,161.317248 81.9453488,162.663372 C80.3228682,164.009496 79.5116279,165.618605 79.5116279,167.490698 C79.5116279,169.006202 79.9439922,170.307752 80.8087209,171.395349 C81.6734496,172.482946 83.451938,173.64186 86.144186,174.872093 C88.1945736,175.817054 89.5273256,176.610465 90.1424419,177.252326 C90.7575581,177.894186 91.0651163,178.634109 91.0651163,179.472093 C91.0651163,180.791473 90.695155,181.816667 89.9552326,182.547674 C89.2153101,183.278682 88.1767442,183.644186 86.8395349,183.644186 C85.555814,183.644186 84.3077519,183.153876 83.0953488,182.173256 C81.8829457,181.192636 81.0717054,180.042636 80.6616279,178.723256 C80.5724806,178.437984 80.3139535,178.295349 79.8860465,178.295349 C79.3689922,178.295349 79.1104651,178.42907 79.1104651,178.696512 C79.6275194,181.246124 79.9573643,183.144961 80.1,184.393023 C80.5813953,184.393023 81.4906977,184.526744 82.827907,184.794186 C84.6108527,185.168605 85.9302326,185.355814 86.7860465,185.355814 C89.2108527,185.355814 91.2790698,184.615891 92.9906977,183.136047 C94.7023256,181.656202 95.5581395,179.828682 95.5581395,177.653488 C95.5581395,176.441085 95.1391473,175.353488 94.3011628,174.390698 C93.4631783,173.427907 91.7248062,172.286822 89.0860465,170.967442 C86.8751938,169.862016 85.4399225,168.961628 84.7802326,168.266279 C84.1205426,167.57093 83.7906977,166.813178 83.7906977,165.993023 C83.7906977,163.568217 85.1813953,162.355814 87.9627907,162.355814 C89.0503876,162.355814 89.9864341,162.761434 90.7709302,163.572674 C91.5554264,164.383915 92.0457364,165.44031 92.2418605,166.74186 C92.2953488,167.027132 92.5449612,167.169767 92.9906977,167.169767 C93.5077519,167.169767 93.7662791,167.036047 93.7662791,166.768605 C93.5879845,165.28876 93.472093,163.496899 93.4186047,161.393023 C93.1333333,161.393023 92.5271318,161.303876 91.6,161.125581 C89.924031,160.804651 88.6224806,160.644186 87.6953488,160.644186 Z"
        />
      </g>
    </svg>
  </a>

<style lang="scss">
a {
  position: fixed;
  top: calc(3rem - 12px);
  left: 2rem;
  z-index: 10;
  mix-blend-mode: difference;
}

@media (min-width: 640px) {
  a {
    left: 3rem;
  }
  svg {
    opacity: 1;
    transform: scale(1);
  }
}
</style>