---
export interface Props {
  title: string;
  flex: string;
  id: string
}

const { title, id, flex } = Astro.props;
---
<section id={`${id ? id : ''}`}>
  <div class={`${flex ? 'items-stretch flex' : ''}`}>
    {title && <h2 class="title">
      {title}
    </h2>}
    <slot />
  </div>
</section>
<style lang="scss">
section {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  grid-template-columns: 1fr;
  scroll-snap-align: start;

  > div {
    max-width: 90rem;
    justify-self: center;
    width: 100%;
  }
}
@media (min-width: 800px) {
  section {
    padding: 4rem;
  }
}
</style>
