---
export interface Props {
  title: string;
  flex: string;
  id: string
  className?: string
}

const { title, id, flex, className } = Astro.props;
---
<section id={`${id ? id : ''}`} class={`${className ? className : ''}`}>
  <div class={`${flex ? 'items-stretch flex' : ''}`}>
    {title && <h2 class="title">
      {title}
    </h2>}
    <slot />
  </div>
</section>
<style lang="scss">
section {
  @apply grid content-center justify-center min-h-screen p-8;
  grid-template-columns: 1fr;
  scroll-snap-align: start;

  > div {
    @apply max-w-7xl justify-self-center w-full;
    // max-width: 90rem;
  }
}
@media (min-width: 800px) {
  section {
    @apply p-16;
  }
}

.stats {
  // background: var(--section-stats-background);
  // color: var(--section-stats-color);

  background: linear-gradient(132deg, rgb(241, 242, 11) 0.00%, rgb(248, 161, 27) 100.00%);
}
</style>
