---
export interface Props {
  title: string;
  flex: string;
  id: string
}

const { title, id, flex } = Astro.props;
---
<section id={`${id ? id : ''}`}>
  <div class={`${flex ? 'items-stretch flex' : ''}`}>
    {title && <h2 class="title">
      {title}
    </h2>}
    <slot />
  </div>
</section>
<style lang="scss">
section {
  @apply grid content-center justify-center min-h-screen p-8;
  grid-template-columns: 1fr;
  scroll-snap-align: start;

  > div {
    @apply max-w-7xl justify-self-center w-full;
    // max-width: 90rem;
  }
}
@media (min-width: 800px) {
  section {
    @apply p-16;
  }
}
</style>
